img {
    max-width: 100%;
}

a,
.btn {
    transition: .15s;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}

.container {
    width: 1300px;
    padding: 0;
}

.bg-peach {
    background-image: url(/img/basket.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% + 400px) 0px;

}

.bg-img {
    background-image: url(/img/fruits.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% - 450px) 5px;
}

.bacground_img {
    background-image: url(/img/cherrybacgr.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% + 650px) 0px;
}

.bgr-img {
    background-image: url(/img/strawberry.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% - 350px) 5px;
}